/* Raleway as a backup */
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway.eot');
    src: url('fonts/raleway.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway.woff') format('woff'),
         url('fonts/raleway.ttf') format('truetype'),
         url('fonts/raleway.svg#RalewayThin') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: url(images/header.png) repeat-x;
	font-family: 'Georgia', 'Liberation Serif', serif; /* Serif font stack for body copy, overriden by sans-serif for headers */
	font-size: 15px;
}

img {
	border: 0;
}

#header {
	height: 120px;
	padding-top: 50px;
}

#wrap {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
}

#menu {
	list-style: none;
	float: right;
	text-transform: lowercase;
	font-size: 1.6em;
	position: relative;
	top: 20px;
}

#menu li {
	float: left;
	padding-left: 15px;
}

#menu a {
	color: #D1D1D1;
	text-decoration: none;
}

#menu a:hover {
	color: #FFFFFF;
}

/* the fork me on github ribbon on the right */
#ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

#main {
	overflow: auto;
	padding-bottom: 90px;
}

/* Things used for content
====================================== */

/* h2 used for most title things */
h1, h2 {
    clear: both;
	padding-top: 5px;
	font-weight: normal;
	border-bottom: #333333 dotted 1px;
    text-transform: lowercase;
    padding-bottom: 0.2em;
    font-family: 'Gill Sans', 'Raleway';
}

/* For post titles */
h1 {
	font-size: 2.7em;
}

/* For most other titles */
h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.8em;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	color: #191919;
	clear: both;
}

#main p {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* for left-floating images */
.leftfloat {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

#main a {
	color: #E42217;
	text-decoration: none;
}

#main a:hover {
	border-bottom: #E42217 solid 1px;
	text-decoration: none;
}

#main ul {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#main li {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}

#main h2 + p, #main h1 + p {
	padding-top: 10px;
}

.download-image {
	width: 100px;
	height: 100px;
	float: right;
}

.thumb {
	width: 100px;
}

/* For things that pretend to be links but really aren't ... show them some love anyway */
.fake-link {
	cursor: pointer;
}

/* Footer etc 
=================================*/

#footer {
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.1em;
	background-color: #3D3D3D;
	width: 100%;
} 

#footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#footer a:hover {
	border-bottom: #FFFFFF solid 1px;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}

/* for the index page, the 3-column project grid */
#projects-grid {
	border: 0;
}

#projects-grid td {
	vertical-align: top;
	padding-bottom: 10px;
}
