* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	/* Sans-serif stack for the body copy, serif for the headers */
	font-family: 'Gill Sans', 'Sawasdee', 'Verdana';
	font-size: 13px;
}

/* Serif font stack for all header-like things */

h1, h2, h3, h4, h5, h6, #title {
	font-family: 'Georgia', 'Bitstream Charter', serif;
}

img {
	border: 0;
}

hr {
	background-color: #AAA;
	height: 5px;
	border: 0px;
}

#header {
	height: 90px;
	padding-top: 50px;
	border-bottom: #777 solid 5px;
}

#wrap {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
}

#title {
	text-decoration: none;
	font-size: 4.0em;
	color: #000;
	font-weight: normal;
	position: relative;
	left: 170px;
}

#menu {
	list-style: none;
	float: right;
	text-transform: lowercase;
	font-size: 1.6em;
	position: relative;
	top: 23px;
}

#menu li {
	float: left;
	padding-left: 15px;
}

#menu a {
	color: #444;
	text-decoration: none;
}

#menu a:hover {
	color: #000;
}

/* the fork me on github ribbon on the right */
#ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

#main {
	overflow: auto;
	padding-bottom: 90px;
}

/* Things used for content
====================================== */

/* h2 used for most title things */
h1, h2 {
    clear: both;
	padding-top: 5px;
	font-weight: normal;
	border-bottom: #333333 dotted 1px;
    text-transform: lowercase;
    padding-bottom: 0.2em;
}

/* For post titles */
h1 {
	font-size: 2.7em;
}

/* For most other titles */
h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.8em;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	color: #191919;
	clear: both;
}

#main p {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* For posts ... that necessary bit of padding */
.post {
	padding-top: 7px;
}

/* for left-floating images */
.leftfloat {
	float: left;
	padding-right: 25px;
	padding-top: 5px;
}

/* For things like "read more" */
.rightfloat {
	float: right;
	margin-top: -2.4em;
}

#main a {
	color: #E42217;
	text-decoration: none;
}

/* So that images, headers don't get underlines */
#main p a:hover, #main li a:hover {
	border-bottom: #E42217 solid 1px;
	text-decoration: none;
}

#main ul {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#main li {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}

#main h2 + p, #main h1 + p {
	padding-top: 10px;
}

.download-image {
	width: 100px;
	height: 100px;
	float: right;
}

.thumb {
	height: 70px;
}

/* For things that pretend to be links but really aren't ... show them some love anyway */
.fake-link {
	cursor: pointer;
}

/* For code in general, syntax-highlighted code done in syntax.css */
code {
	font-family: 'Consolas', 'Monaco', monospace;
	font-size: 0.8em;
}

/* below: no highlighting, but on its own line */
p > code {
	color: #222222;
	font-weight: bold;
	background-color: #F0F0F0;
	padding: 5px;
	-webkit-border-radius: 5px;
}
/* Footer etc 
=================================*/

#footer {
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2em;
	background-color: #3D3D3D;
	width: 100%;
} 

#footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#footer a:hover {
	border-bottom: #FFFFFF solid 1px;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}

/* for the index page, the 3-column project grid */
#projects-grid {
	border: 0;
}

#projects-grid td {
	vertical-align: top;
	padding-bottom: 10px;
}
