@import "mixins";
@import "variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif', 'Georgia', serif;
    font-size: 18px;
    line-height: 2.0em;
}

.normal-links {
    a {
        color: @linkColor;
        text-decoration: none;
        &:hover {
            color: @linkHoverColor;
            border-bottom: solid 1px @linkHoverColor;
        }
    }
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    color: @menuColor;
    height: 180px;
    width: 100%;
    background: url('../img/background.jpg');
    background-size: cover;
}

#ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
}

#title {
    color: @titleColor;
    font-size: 3em;
    line-height: 180px;
    text-decoration: none;

    &:hover {
        color: #000;
    }

    img {
        position: relative;
        vertical-align: top;
    }
}

#menu {
    list-style: none;
    float: right;
    text-transform: lowercase;
    font-size: 1.2em;
    line-height: 180px;

    li + li {
        padding-left: 15px;
    }

    li {
        display: inline-block;
        padding-left: 0;

        a {
            color: @menuColor;
            text-decoration: none;

            &:hover {
                color: @menuHoverColor;
            }
        }
    }
}

#content {
    .normal-links;
    .wrap;
    padding: 50px 0;
    color: @textColor;

    ul {
        margin-left: 10px;
        list-style: none;
        li {
            padding: 2px 0;
            &:before {
                padding-right: 10px;
                content: "\00BB \0020";
            }
        }
    }

    p  {
        padding-bottom: 20px;
    }

    ul + p {
        padding-top: 20px;
    }

    /* For code in general, syntax-highlighted code done in syntax.css */
    code {
        font-family: 'Consolas', 'Monaco', 'Monospace', monospace;
    }

    /* below: no highlighting, but on its own line */
    p > code, li > code {
        color: #222222;
        font-weight: bold;
        background-color: #F0F0F0;
        padding: 1px;
        .border-radius(5px);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @headingColor;
    padding: 0.5em 0;
    clear: both;
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

hr {
    padding: 2px 0px;
    background: @lightGrey;
    margin: 5px 0px;
    border: 0;
    border-top: 1px solid #BBB;
}

#footer {
    height: 70px;
    line-height: 70px;
    clear: both;
    text-align: center;
    .normal-links;
    color: @textColor;
}

.leftfloat {
    float: left;
    margin-right: 15px;
}

.rightfloat {
    float: right;
}

.download-image {
    width: 100px;
    height: 100px;
    float: right;
}

.thumb {
    height: 120px;
}

.large-thumb {
    width: 300px;
}

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: 5px solid @lightGrey;
    font-style: italic;
    margin-bottom: 10px;

    p {
        padding-bottom: 0 !important;
    }
}

.white {
    color: @white;
}

p img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

pre {
    white-space: pre-wrap;
}

@media (max-width: 1000px) {
    #title {
        padding-left: 20px;
    }

    #menu {
        padding-right: 20px;
    }

    #content {
        padding: 0 20px;
    }
}

@media (max-width: 750px) {
    #header {
        height: 150px;
        background-size: cover;
    }

    #title {
        padding-left: 0;
        line-height: 100px;
        text-align: center;
        display: block;
    }

    #menu {
        font-size: 0.9em;
        line-height: 0.9em;
        text-align: center;
        padding-right: 0;
        float: none;

        li a {
            color: @titleColor;
        }
    }

    #ribbon {
        display: none;
    }

    .leftfloat {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
        float: none;
    }
}

.except {
    word-break: break-all;
}

.painting {
    width: 480px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px 5px;

    img {
        width: 100%;
    }
}

#paintings {
    margin-top: 20px;

    p {
        padding-bottom: 10px;
    }
}
