* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 2em;
}
.normal-links a {
  color: #BB0000;
  text-decoration: none;
}
.normal-links a:hover {
  color: #DD1111;
  border-bottom: solid 1px #DD1111;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}
#header {
  height: 150px;
  width: 100%;
}
#ribbon {
  position: absolute;
  top: 0px;
  right: 0px;
}
#title {
  color: #333;
  font-size: 2em;
  line-height: 150px;
  text-decoration: none;
  text-transform: lowercase;
}
#title:hover {
  color: #000;
}
#title img {
  position: relative;
  vertical-align: top;
}
#menu {
  list-style: none;
  float: right;
  text-transform: lowercase;
  font-size: 1.3em;
  line-height: 150px;
}
#menu li + li {
  padding-left: 15px;
}
#menu li {
  display: inline-block;
  padding-left: 0;
}
#menu li a {
  color: #444;
  text-decoration: none;
}
#menu li a:hover {
  color: #000;
}
#content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  color: #333;
  /* For code in general, syntax-highlighted code done in syntax.css */
  /* below: no highlighting, but on its own line */
}
#content a {
  color: #BB0000;
  text-decoration: none;
}
#content a:hover {
  color: #DD1111;
  border-bottom: solid 1px #DD1111;
}
#content ul,
#content ol {
  margin-left: 20px;
  padding-bottom: 20px;
}
#content ul li,
#content ol li {
  padding: 2px 0;
}
#content li > ol {
  margin-left: 40px;
}
#content ol > li:before {
  padding-right: 10px;
}
#content ul {
  list-style: none;
}
#content ul > li:before {
  padding-right: 10px;
  content: "\00BB \0020";
}
#content p {
  padding-bottom: 20px;
}
#content ul + p {
  padding-top: 20px;
}
#content code {
  font-family: 'Consolas', 'Monaco', 'Monospace', monospace;
}
#content p > code,
#content li > code {
  color: #222222;
  font-weight: bold;
  background-color: #F0F0F0;
  padding: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  word-break: break-all;
}
#content img + em {
  display: block;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  padding: 0.5em 0;
  clear: both;
  font-weight: normal;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h4 + p {
  padding-top: 20px;
}
hr {
  padding: 0;
  border: none;
  border-top: medium double #777;
  color: #999;
  text-align: center;
  margin: 20px 0 10px 0;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
hr + h3 {
  padding-top: 0;
}
#footer {
  height: 70px;
  line-height: 70px;
  clear: both;
  text-align: center;
  color: #333;
}
#footer a {
  color: #BB0000;
  text-decoration: none;
}
#footer a:hover {
  color: #DD1111;
  border-bottom: solid 1px #DD1111;
}
.leftfloat {
  float: left;
  margin-right: 15px;
}
.rightfloat {
  float: right;
}
.download-image {
  width: 100px;
  height: 100px;
  float: right;
}
.thumb {
  height: 120px;
}
.medium-thumb {
  width: 250px !important;
}
.large-thumb {
  width: 300px;
}
blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 5px solid #DDD;
  font-style: italic;
  margin-bottom: 10px;
}
blockquote p {
  padding-bottom: 0 !important;
}
.white {
  color: #FFF;
}
p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
pre {
  white-space: pre-wrap;
}
@media (max-width: 1000px) {
  #title {
    padding-left: 20px;
  }
  #menu {
    padding-right: 20px;
  }
  #content {
    padding: 20px;
  }
  /* this is ugly but i want it to break after the image on mobile */
  .book img {
    float: none !important;
  }
}
@media (max-width: 750px) {
  #header {
    height: 150px;
    background-size: cover;
  }
  #title {
    font-size: 2em;
    padding-left: 0;
    line-height: 100px;
    text-align: center;
    display: block;
  }
  #menu {
    font-size: 0.9em;
    line-height: 0.9em;
    text-align: center;
    padding-right: 0;
    float: none;
  }
  #menu li a {
    color: #333;
  }
  #ribbon {
    display: none;
  }
  .leftfloat {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    float: none;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
}
.except {
  word-break: break-all;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
}
.column img {
  width: 100%;
}
.column p {
  padding-bottom: 10px;
}
.column ul {
  font-size: 0.8em;
  line-height: 1.3em;
}
.six-grid .column {
  width: 152px;
}
.triple-grid .column {
  max-width: 320px;
}
.triple-grid .column.doubled {
  max-width: 640px;
}
.double-grid .column {
  max-width: 480px;
}
.double-grid {
  padding-bottom: 20px;
}
.right.column {
  width: 100%;
  text-align: right;
}
.caption {
  text-align: center;
  font-style: italic;
}
#post-categories .clicked {
  font-weight: bold;
}
.centered {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
.book {
  clear: both;
  padding-top: 20px;
}
.book img {
  width: 260px;
  float: left;
  margin-right: 20px;
}
.book h3 {
  clear: none;
}
.previous-post {
  float: left;
}
.next-post {
  float: right;
}
dl.horizontal {
  font-size: 0.9em;
  line-height: 1.4em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 95px;
  text-align: right;
  font-weight: bold;
}
dl.horizontal dt::after {
  content: ":";
}
dl.horizontal dd {
  margin-left: 90px;
  padding-left: 10px;
}
dl.vertical {
  padding-bottom: 15px;
}
dl.vertical dt {
  font-size: 1.3em;
  padding-top: 15px;
}
#content ul.large {
  padding: 20px 0;
  list-style-type: none;
}
#content ul.large span {
  font-size: 1.2em;
  line-height: 1.7em;
}
#content ul.large li + li {
  padding-top: 15px;
}
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
.fragment-tag {
  white-space: nowrap;
}
#fragments .day {
  display: flex;
}
#fragments .number {
  font-size: 2.7rem;
  line-height: 1;
  padding-top: 20px;
  min-width: 60px;
}
#fragments .content {
  padding-top: 20px;
  padding-left: 15px;
}
#fragments .header {
  font-size: 1.3rem;
}
