@linkColor:				#BB0000;
@linkHoverColor:		#DD1111;
@headerColor:			#F0F0F0;
@menuHoverColor:		#000;
@headingColor:			#333;
@textColor:             #666;
@titleColor:            #555;
@menuColor:             #777;

@white:					#FFF;
@lightGrey:				#DDD;
