---
layout: default
title: Speaking
---

If you want me to speak on a podcast or at an event, or if you want to chat on background for a story about the tech industry, drop me an email at ilostwaldo@gmail.com.

<h2>Book tour</h2>

<p>Due to COVID-19, upcoming in-person events in April and May have been cancelled or postponed. Instead, I'll be doing a variety of virtual events, mostly via Zoom. More coming soon.</p>

{% include upcoming.html %}

<h2 id="podcasts">Podcast appearances</h2>

<p>I've been a guest on various tech and/or left podcasts over the past few years. I'd love to appear on yours!</p>

{% include podcasts.html %}

<h2>Past events</h2>

{% include past.html %}
