---
layout: default
title: Speaking
---

Pre-2017, these events were mostly apolitical & technical; post-2017, they're either about UK politics or tech & politics.

<h2>Upcoming public events</h2>

{% include upcoming.html %}

<h2 id="podcasts">Podcast appearances</h2>

<p>I've fallen into an unexpected habit of being a guest on various tech and/or left podcasts over the last few months. I have a few more lined up, but after that I'm probably all podcasted-out for a while.</p>

{% include podcasts.html %}

<h2>Past events</h2>

{% include past.html %}
