body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header {
	background: url(header.png) repeat-x;
	width: 100%;
	height: 96px;
	padding-top: 35px;
}

.title, .title-blue {
	font-size: 2.5em;
}

.title {
	color: #FFFFFF;
}

.title-blue {
	color: #35A8E1;
}

/* for the 960 pixels layout */
.wrap {
	width: 960px;
	margin: 0 auto;
}

#menu {
	list-style: none;
	float: right;
}

#menu li {
	float: left;
	text-transform: uppercase;
	padding-left: 15px;
}

#menu a {
	color: #D1D1D1;
	text-decoration: none;
}

#menu a:hover {
	color: #FFFFFF;
}

#body {
	background-color: #FFFFFF;
	background: url(background.png) repeat-x;
	height: 129px;
	position: relative;
	top: -35px; /* counteract the padding-top: 35px */
}

#content-body {
	margin: 0 auto;
	width: 1018px;
	min-height: 300px;
	background: url(content-body.png) repeat-y;
}

#real-content {
	margin: 0 auto;
	width: 920px;
}

#content-footer {
	width: 1018px;
	margin: 0 auto;
	background: url(content-footer.png) no-repeat;
	height: 35px;
}

p {
	font-size: 0.9em;
	line-height: 1.2em;
}

#footer {
	text-align: center;
	color: #393939;
	font-size: 0.8em;
}

#content-title {
	height: 40px;
	width: 910px;
	background: url(content-title.png) repeat-x;
	font-size: 1.5em;
	line-height: 40px;
	padding-left: 10px;
}

/* used for most title things (other than the actual title) */
h2 {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: #000000 solid 1px;
}

/* For prettier links */
#real-content a {
	color: #575757;
	text-decoration: none;
}

#real-content a:hover {
	color: #000000;
	border-bottom: #000000 solid 1px;
}
