body {
	margin: 0;
	padding: 0;
	font-family: 'Crimson Text', serif;
}

img {
	border: 0;
}

#header {
	background: url(images/header.png) repeat-x;
	width: 100%;
	height: 270px;
	padding-top: 50px;
}

/* for the 960 pixels layout */
.wrap {
	width: 960px;
	margin: 0 auto;
}

#menu {
	list-style: none;
	float: right;
	text-transform: lowercase;
	font-size: 1.8em;
}

#menu li {
	float: left;
	padding-left: 15px;'OFL Sorts Mill Goudy TT'
}

#menu a {
	color: #D1D1D1;
	text-decoration: none;
}

#menu a:hover {
	color: #FFFFFF;
}

/* the fork me on github ribbon on the right */
#ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* for the regular content */
#body {
	margin-top: -130px; /* counteract the padding-top: 50px and the header image height */
	padding-bottom: 10px;
}

/* work on the sticky footer issue later if necessary */
#footer {
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.1em;
	background-color: #3D3D3D;
	width: 100%;
	height: 50px;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#footer a:hover {
	border-bottom: #FFFFFF solid 1px;
}

/* used for most title things */
h2 {
	padding-top: 5px;
	font-size: 1.7em;
	font-weight: normal;
	border-bottom: #333333 dotted 1px;
    text-transform: lowercase;
    padding-bottom: 0.2em;
    font-family: 'OFL Sorts Mill Goudy TT';
}

/* For prettier links in the body text */
#body a {
	color: #575757;
	text-decoration: none;
}

#body a:hover {
	color: #000000;
	border-bottom: #000000 solid 1px;
}

/* for left-floating images */
.leftfloat {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

/* for the index page, the 3-column project grid */
#projects-grid {
	border: 0;
	width: 960px;
	font-style: italic;
}

#projects-grid td {
	vertical-align: top;
	padding-bottom: 10px;
}
