body {
	margin: 0;
	padding: 0;
	font-family: 'Crimson Text', serif;
}

img {
	border: 0;
}

#header {
	background: url(images/header.png) repeat-x;
	width: 100%;
	height: 270px;
	padding-top: 50px;
}

/* for the 960 pixels layout */
.wrap {
	width: 960px;
	margin: 0 auto;
}

#menu {
	list-style: none;
	float: right;
	text-transform: lowercase;
	font-size: 1.8em;
}

#menu li {
	float: left;
	padding-left: 15px;
}

#menu a {
	color: #D1D1D1;
	text-decoration: none;
}

#menu a:hover {
	color: #FFFFFF;
}

/* the fork me on github ribbon on the right */
#ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* for the regular content */
#body {
	height: 129px;
	position: relative;
	top: -130px; /* counteract the padding-top: 50px and the header image height */
}


#footer {
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.1em;
	background-color: #3D3D3D;
	width: 100%;
	height: 50px;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#content-title {
	height: 40px;
	width: 910px;
	background: url(content-title.png) repeat-x;
	font-size: 1.5em;
	line-height: 40px;
	padding-left: 10px;
    font-family: 'museo';
    text-transform: uppercase;
}

/* used for most title things (other than the actual title) */
h2 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: #333333 dotted 1px;
    text-transform: lowercase;
    padding-bottom: 0.2em;
    font-family: 
}

/* For prettier links */
#content-body a {
	color: #575757;
	text-decoration: none;
}

#content-body a:hover {
	color: #000000;
	border-bottom: #000000 solid 1px;
}
