---
layout: default
jquery: true
title: Words
---

<p>A non-exhaustive collection of things I have written.</p>

<hr />

<h2 id="course">
    Course notes for the
    <a href="http://www.lse.ac.uk/study-at-lse/Graduate/Degree-programmes-2018/MSc-Inequalities-and-Social-Science">Inequalities MSc</a>
    at LSE
</h2>

<p>
    Continuing my tradition of being <a href="http://wikinotes.ca">that one
    nerd who types up lecture notes for every class</a>, I'll be posting my
    notes for all the modules I'm taking as part of my masters
    degree (or just for personal edification).
</p>

<dl class="vertical">
<dt><a href="/SO478">SO478: Social Scientific Analysis of Inequalities</a>
(my program's core module)
</dt>
<dt><a href="/MC433">MC433: Technology and Justice</a>,
taught by Seeta Peña Gangadharan
</dt>
<dt><a href="/GV4D4">GV4D4: The Politics of Inequality and Redistribution</a>,
taught by Jonathan Hopkin
</dt>
<dt>
<a href="/4AAVC101">4AAVC101: Digital Economy and Audiences</a>,
taught by Nick Srnicek at King's (audit)
</dt>
<dt>
<a href="/SO427">SO427: Modern Social Thought</a>,
taught by Nigel Dodd
</dt>
<dt>
<a href="/GV4G7">GV4G7: Marx and Marxism</a>,
taught by Lucia Rubinelli (audit)
</dt>
</dl>

<hr />

<h2 id="external">External publications</h2>

<dl class="vertical">
<dt>
    <a href="https://newsocialist.org.uk/labours-new-economics-conference-part-three-housing-session/">
        Labour's New Economics Conference: Part Three, Housing Session
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (February 24, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/labours-new-economics-conference-part-two-digital-session/">
        Labour's New Economics Conference: Part Two, Digital Session
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (February 21, 2018)
</dd>
<dt>
    <a href="http://www.notesfrombelow.org/article/silicon-inquiry">
        Silicon Inquiry
    </a>
</dt>
<dd>for <a href="http://www.notesfrombelow.org">Notes From Below</a>
    (January 29, 2018)
    &mdash;
    republished by <a href="https://www.opendemocracy.net/digitaliberties/wendy-liu/silicon-inquiry">openDemocracy</a>
</dd>
<dt>
    <a href="https://newsocialist.org.uk/labours-digital-strategy">
        Labour's Digital Strategy is a Missed Opportunity
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (December 17, 2017)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/social-murder-productivity-crisis/">
        Social Murder, Productivity Crisis & Irresponsible Technology Policy:
        The 2017 Budget
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (November 25, 2017; co-written with two other NS editors)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/the-gig-economy/">
        The Inevitability of the Gig Economy
    </a>
</dt>
<dd>
for <a href="https://newsocialist.org.uk">New Socialist</a>
    (November 19, 2017)
</dd>
<dt>
    <a href="https://medium.com/@dellsystem/stitch-fix-is-the-future-of-humanity-a1e8f1dcc4e8">
        Stitch Fix is the future of humanity
    </a>
</dt>
<dd>on Medium
    (October 29, 2017)
</dd>
<dt>
    <a href="https://medium.com/@dellsystem/review-young-marx-at-bridge-theatre-c6816f0d812e">
        Review: Young Marx at Bridge Theatre
    </a>
</dt>
<dd>on Medium (October 19, 2017)</dd>
<dt>
    <a href="https://medium.com/@dellsystem/dont-put-your-faith-in-uber-727b864756a4">
        Don't put your faith in Uber
    </a>
</dt>
<dd>on Medium (September 22, 2017)</dd>
<dt>
    <a href="https://medium.com/@dellsystem/i-cant-read-your-slides-737acde6e9dc">
        I can’t read your slides
    </a>
</dt>
<dd>on Medium (September 8, 2017)</dd>
<dt>
    <a href="https://medium.com/@dellsystem/paul-graham-blocked-me-on-twitter-c28ca647c7f8">
        Paul Graham blocked me on Twitter
    </a>
</dt>
<dd>
    for
    <a href="https://code.likeagirl.io">Code Like A Girl</a>
    (August 17, 2017)
</dd>
<dt>
    <a href="https://code.likeagirl.io/what-i-wish-i-had-known-1cf9714b01cf">
        What I wish I had known
    </a>
</dt>
<dd>for <a href="https://code.likeagirl.io">Code Like A Girl</a> (June 30, 2017)</dd>
<dt>
    <a href="http://datadrivenjournalism.net/featured_projects/endorsementdb_predicting_the_u.s._election_without_polls">
        EndorsementDB: Predicting the U.S. election without polls
    </a>
</dt>
<dd>
    for
    <a href="http://datadrivenjournalism.net">Data Driven Journalism</a>
    (November 11, 2016)
</dd>
</dl>

<hr />


<h2>Academic papers</h2>

<dl class="vertical">
<dt>
    <a href="https://www.aaai.org/ocs/index.php/SSS/SSS13/paper/view/5744">
        What’s in a Name? Using First Names as Features for Gender Inference in Twitter
    </a>
</dt>
<dd>
    Co-authored with Derek Ruths for <a href="http://networkdynamics.org/">Network Dynamics</a> lab.
    I presented this at the <a href="https://aaai.org/Symposia/Spring/spring-symposia.php">AAAI Spring Symposium Series</a> in 2013
    (my slides are on <a href="https://speakerdeck.com/dellsystem/whats-in-a-name-using-first-names-as-features-for-gender-inference-in-twitter">Speaker Deck</a>).
</dd>
<dt>
    <a href="https://www.aaai.org/ocs/index.php/ICWSM/ICWSM12/paper/view/4713">
        Homophily and Latent Attribute Inference: Inferring Latent
        Attributes of Twitter Users from Neighbors
    </a>
</dt>
<dd>
    Co-authored with Derek Ruths and Faiyaz Al Zamal for <a href="http://networkdynamics.org/">Network Dynamics</a> lab.
    Poster paper at <a href="http://www.icwsm.org">the International AAAI Conference on Weblogs and Social Media (ICWSM)</a> in 2012.
</dd>
<dt>
    <a href="https://www.aaai.org/ocs/index.php/ICWSM/ICWSM12/paper/view/4784">
        Using Social Media to Infer Gender Composition of Commuter Populations
    </a>
</dt>
<dd>
    Co-authored with Derek Ruths and Faiyaz Al Zamal for <a href="http://networkdynamics.org/">Network Dynamics</a> lab.
    Workshop paper at <a href="http://www.icwsm.org">the International AAAI Conference on Weblogs and Social Media (ICWSM)</a> in 2012.
</dd>
<dt>
    <a href="http://ismir2012.ismir.net/event/papers/577_ISMIR_2012.pdf">
        Digital Document Image Retrieval Using Optical Music Recognition
    </a>
</dt>
<dd>
    Co-authored with Andrew Hankinson, John Ashley Burgoyne, Gabriel
    Vigliensoni, Alastair Porter, Jessica Thompson, Remi Chiu, and Ichiro
    Fujinaga for <a href="http://ddmal.music.mcgill.ca/">DDMAL lab</a>.
    Presented at <a href="http://www.ismir.net/">the International Society for
    Music Information Retrieval Conference (ISMIR)</a> in 2012.
</dd>
<dt>
    <a href="https://link.springer.com/chapter/10.1007/978-3-642-33290-6_51">
        Diva: A Web-Based High-Resolution Digital Document Viewer
    </a>
</dt>
<dd>
    Co-authored with Andrew Hankinson, Laurent Pugin, and Ichiro Fujinaga for
    <a href="http://ddmal.music.mcgill.ca/">DDMAL lab</a>.
    Presented at <a href="http://www.tpdl.eu">the International Conference on
    Theory and Practice of Digital Libraries (TPDL)</a> in 2012.
</dd>
<dt>
    <a href="http://journal.code4lib.org/articles/5418">
        Diva.js: A Continuous Document Viewing Interface
    </a>
</dt>
<dd>
    Co-authored with Andrew Hankinson, Laurent Pugin, and Ichiro Fujinaga for
    <a href="http://ddmal.music.mcgill.ca/">DDMAL lab</a>.
    Published in <a href="https://code4lib.org/">The Code4Lib Journal</a> in 2011.
</dd>
</dl>

<hr />

<h2 id="blog">Blog posts</h2>

<p>
    Things that aren't worth submitting to a real publication or posting on
    Medium.
    Older (pre-2017) posts are primarily technical; newer posts are primarily
    non-technical. See <a href="/posts/a-change-of-pace">this post</a> for
    details.
</p>

<div id="post-categories">
    Categories:
    <a href="#" class="clicked" id="category-all">all</a> ({{ site.posts.size }}),
    {% for category in site.categories %}<a href="#" name="{{ category[0] }}" id="category-{{ category[0] }}">{{ category[0] }}</a> ({{ category[1].size }}){% if forloop.last %}{% else %}, {% endif %}{% endfor %}
</div>

<br />

<ul>
{% for post in site.posts %}
    {% if post.layout == 'post' %}
    <li class="post-excerpt">
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        ::
        {{ post.date|date:"%B %-d, %Y" }}
        :: 
        {% for category in post.categories %}
        <a class="post-category" href="/words#{{ category|replace:' ','-' }}">{{ category }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
    </li>
    {% endif %}
{% endfor %}
</ul>

<script type="text/javascript">
var containsCategory = function(postExcerpt, desiredCategory) {
    var categories = postExcerpt.querySelectorAll('.post-category');
    for (var i = 0; i < categories.length; i++) {
        if (categories[i].innerText == desiredCategory) {
            return true;
        }
    };

    return false;
};

var showCategory = function(desiredCategory) {
    if (desiredCategory == 'all') {
        $('.post-excerpt').show();
    } else {
        $('.post-excerpt').each(function(index, postExcerpt) {
            if (containsCategory(postExcerpt, desiredCategory)) {
                $(postExcerpt).show();
            } else {
                $(postExcerpt).hide();
            }
        });
    }
};

// For simulating category-pages
$('#post-categories a').click(function() {
	var desiredCategory = $(this).text();
    showCategory(desiredCategory);
    $('#post-categories .clicked').removeClass('clicked');
    $(this).addClass('clicked');
    return false;
});

// Handle hash parameters
if (window.location.hash) {
    var desiredCategory = window.location.hash.substring(1);
    showCategory(desiredCategory);
    $('#post-categories .clicked').removeClass('clicked');
    $('#category-' + desiredCategory).addClass('clicked');
}
</script>
