<div class="triple-grid">
    <div class="column">
        <dl class="horizontal">
            <dt>name</dt>
            <dd>Wendy Liu</dd>
            <dt>location</dt>
            <dd>London, UK</dd>
            <dt>currently</dt>
            <dd>MSc student at <a href="/lse">LSE</a></dd>
            <dt>previously</dt>
            <dd>
                CTO at <a href="http://macromeasures.com">Macromeasures</a>
                <br />
                SWE intern at Google
            </dd>
        </dl>
    </div>
    <div class="column">
        <dl class="horizontal">
            <dt>email</dt>
            <dd>ilostwaldo@gmail.com</dd>
            <dt>twitter</dt>
            <dd><a href="https://twitter.com/dellsystem">@dellsystem</a></dd>
            <dt>facebook</dt>
            <dd><a href="https://facebook.com/ilostwaldo">ilostwaldo</a></dd>
            <dt>github</dt>
            <dd><a href="http://github.com/dellsystem">dellsystem</a></dd>
            <dt>medium</dt>
            <dd><a href="http://medium.com/dellsystem">dellsystem</a></dd>
        </dl>
    </div>
    <div class="column">
        <dl class="horizontal">
            <dt>goodreads</dt>
            <dd><a href="http://goodreads.com/dellsystem">dellsystem</a> (add me!)</dd>
            <dt>last.fm</dt>
            <dd><a href="http://last.fm/user/dellsystem">dellsystem</a></dd>
            <dt>speakerdeck</dt>
            <dd><a href="http://speakerdeck.com/dellsystem">dellsystem</a></dd>
            <dt>resume</dt>
            <dd><a href="/pdfs/resume.pdf">PDF</a> (outdated - for tech)</dd>
            <dt>phpbb</dt>
            <dd><a href="https://www.phpbb.com/community/memberlist.php?mode=viewprofile&u=178433">dellsystem</a></dd>
        </dl>
    </div>
</div>
