<div class="book">
    <a href="https://abolishsiliconvalley.com">
        <img src="/img/abolish-silicon-valley.jpg" />
    </a>
    <div class="content">
        <h3>Debut book</h3>
        <p><em>Abolish Silicon Valley: How to Liberate Technology from Capitalism</em> is part memoir and part manifesto, connecting the problems within the tech industry to the workings of the contemporary economy.</p>
        <p>The book was released April 14, 2020 by Repeater Books.</p>
        <p>More details at <a href="https://abolishsiliconvalley.com">abolishsiliconvalley.com</a>.</p>
    </div>
</div>

<br clear="all" />
