<div class="double-grid">
    <div class="column">
        <h3>Upcoming book</h3>
        <p><em>Abolish Silicon Valley: How to Liberate Technology from Capitalism</em> is a memoir and a manifesto about the tech industry. It will be out April 14 from Repeater Books, and is available for pre-order now.</p>
        <p>More details at <a href="https://abolishsiliconvalley.com">abolishsiliconvalley.com</a>.</p>
    </div>
    <div class="column">
        <a href="https://abolishsiliconvalley.com"><img src="/img/abolish-silicon-valley.png" /></a>
    </div>
</div>
