<ul>
    <li>April 15: SF - <a href="http://www.citylights.com/info/?fa=event&event_id=3594">City Lights Bookstore</a> @ 7pm (w/ <a href="https://twitter.com/sashaperigo">Sasha Perigo</a>)</li>
    <li>April 19: LA - <a href="https://events.latimes.com/festivalofbooks/">LA Times Festival of Books</a> @ 2:30pm (Bovard Auditorium)</li>
    <li>April 21: NYC - <a href="https://www.strandbooks.com/event/wendy-liu-abolish-silicon-valley">The Strand</a> @ 7:30pm (w/ <a href="https://twitter.com/mer__edith">Meredith Whittaker</a>)</li>
    <li>May 2-3: Berkeley - <a href="https://www.baybookfest.org/">Bay Area Book Festival</a></li>
    <li>May 13: London - <a href="https://www.foyles.co.uk/abolish-silicon-valley-wendy-liu-in-conversation-with-hettie-obrien">Foyles Charing Cross</a> @ 7pm (w/ Hettie O'Brien)</li>
    <li>May 24: Wales - <a href="https://howthelightgetsin.org/hay">HowTheLightGetsIn Festival</a> @ 1:15pm</li>
    <li>May 28-30: Seattle - <a href="https://www.redmayseattle.org/">Red May</a></li>
    <li>July 10-12: London - <a href="https://www.idler.co.uk/product/the-idler-festival-2020-tickets/">Idler Festival</a></li>
</ul>
