<h2>Collections</h2>

<div class="double-grid">
	<div class="column">
		<h4>
			<a href="/new-socialist-newsletter">
				Tech news roundup for New Socialist
			</a>
		</h4>
		<p>
			This is just my section on tech. Subscribe to our <a href="https://www.patreon.com/newsocialist">Patreon</a> if you want to get the full emails (sent every other Sunday).
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/lse">
				Chronicling my masters degree
			</a>
		</h4>
		<p>
			Lecture notes & essays for my MSc on inequality at the London School of Economics from 2017-2018.
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/tech">
			   Critical perspectives on technology: resources
			</a>
		</h4>
		<p>
			Books, articles, podcasts, communities, individuals with a critical perspective on the tech industry.
		</p>
	</div>
	<div class="column">
		<h4>
	    	<a href="/reading-group">
       			Jacobin reading group: reading list
    		</a>
		</h4>
		<p>I run a Jacobin reading group in London, with a different speaker each week, and I share the list of readings here.</p>
	</div>
</div>
