<h2>Collections</h2>

<div class="double-grid">
	<div class="column">
		<h4>
	    	<a href="/fragments">
       			Fragments (2019)
    		</a>
		</h4>
		<p>
			My New Year's resolution is to write a blog post on a different topic every day in 2019. The <a href="/posts/fragments-1">first blog post</a> explains why.
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/tech">
			   Critical perspectives on technology (2017-2019)
			</a>
		</h4>
		<p>
			Resources: books, articles, podcasts, communities, individuals with a critical perspective on the tech industry.
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/new-socialist-newsletter">
				Tech news roundup for New Socialist (2018)
			</a>
		</h4>
		<p>
			From June to December in 2018, I wrote a section on tech for the New Socialist newsletter every 2-3 weeks. I stopped so I could focus on my blog posts.
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/lse">
				Chronicling my masters degree (2017-2018)
			</a>
		</h4>
		<p>
			Lecture notes & essays for my MSc on inequality at the London School of Economics.
		</p>
	</div>
</div>
