<h2>Collections</h2>

<div class="double-grid">
	<div class="column">
		<h4>
			<a href="/new-socialist-newsletter">
				Tech news roundup for New Socialist
			</a>
		</h4>
		<p>
			This is just my section on tech. Subscribe to our <a href="https://www.patreon.com/newsocialist">Patreon</a> if you want to get the full emails (sent every other Sunday).
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/lse">
				Chronicling my masters degree
			</a>
		</h4>
		<p>
			Lecture notes & essays for my MSc on inequality at the London School of Economics from 2017-2018.
		</p>
	</div>
	<div class="column">
		<h4>
			<a href="/tech">
			   Critical perspectives on technology: resources
			</a>
		</h4>
		<p>
			Books, articles, podcasts, communities, individuals with a critical perspective on the tech industry.
		</p>
	</div>
	<div class="column">
		<h4>
	    	<a href="/fragments">
       			Fragments
    		</a>
		</h4>
		<p>
			My New Year's resolution is to write a blog post on a different topic every day in 2019. The <a href="/posts/fragments-1">first blog post</a> explains why.
		</p>
	</div>
</div>
