<div class="post-excerpt">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <a href="{{ post.url }}"><img class="leftfloat" src="/img{% if post.image %}/posts/{{ post.image }}{% else %}{{ post.url }}{% endif %}.png" /></a>
    <p>
        {{ post.date | date: "%B %-d, %Y" }}
        ::
        Categories: {% for category in post.categories %}
        <strong><a class="post-category" href="/writing#{{ category|replace:' ','-' }}">{{ category }}</a></strong>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
    </p>
    <p>
        {{ post.content | strip_html | truncate:400 }}
        <a href="{{ post.url }}">Read more &raquo;</a>
    </p>
</div>
