<ul>
    <li><strong>Sun Magazine (April, 2024)</strong>: <a href="https://www.thesunmagazine.org/articles/28399-down-in-the-valley">interviewed by Finn Cohen</a></li>
    <li><strong>Input Magazine (April 11, 2021)</strong>: <a href="https://www.inverse.com/input/tech/author-wendy-liu-abolish-silicon-valley-book-interview">interviewed by Tom Maxwell</a> about my book</li>
    <li><strong>New Socialist (September 8, 2020)</strong>: <a href="https://newsocialist.org.uk/abolish-silicon-valley-tom-gann-interviews-wendy-liu/">interviewed by Tom Gann</a> about my book</li>
</ul>
