<ul>
	<li><strong><a href="/speaking/trash-future">TrashFuture</a> (July 16, 2018)</strong>: On why we need to abolish Silicon Valley. With Riley, Hussein and Milo.</li>
	<li><strong><a href="/speaking/tysky-sour">Novara Media's Tysky Sour</a> (July 2, 2018)</strong>: On worker power in Silicon Valley. With Ash Sarkar and Michael Walker.</li>
	<li><strong><a href="https://soundcloud.com/poltheoryother/9-wendy-liu-on-silicon-valley-and-the-democratisation-of-technology">Politics Theory Other</a> (May 31, 2018)</strong>: On Silicon Valley and the democratisation of technology. With Alex Doherty.</li>
	<li><strong><a href="/speaking/media-democracy">Media Democracy</a> (March 9, 2018)</strong>: On democratising tech development. With Hettie O'Brien, Tom Mills and Dan Hind.</li>
</ul>
