<div class="triple-grid">
    <div class="column">
        <h4><a href="https://newsocialist.org.uk">New Socialist</a></h4>
        <p>
            I'm an editor for the <a
            href="https://newsocialist.org.uk/tag/economics">economics
            section</a> and helped build <a
            href="https://github.com/dellsystem/new-socialist">the website</a>.
        </p>
    </div>
    <div class="column">
        <h4><a href="https://notesfrombelow.org">Notes From Below</a></h4>
        <p>
            I built <a
            href="https://github.com/dellsystem/notes-from-below">the
            website</a>
            and co-curated the issue on <a
            href="https://notesfrombelow.org/issue/technology-and-the-worker">tech and class
            composition</a>.
        </p>
    </div>
    <div class="column">
        <h4>London School of Economics</h4>
        <p>
            I'm completing an MSc on inequality and
            posting some of my notes <a href="/lse">here</a>.
        </p>
    </div>
    <div class="column">
        <h4>David Foster Wallace</h4>
        <p>
            I'm just a massive fan: I maintain <a href="/dfw">a list of his
            work</a> and built the website for <a
            href="http://wallaceconference.com">the annual conference</a>.
        </p>
    </div>
    <div class="column">
        <h4>Criticising tech</h4>
        <p>
            I'm a <a
            href="https://notesfrombelow.org/article/silicon-inquiry">recovering
            startup founder</a> who now wants to <a
            title="this is a joke but also not"
            href="https://twitter.com/search?q=%22abolish%20silicon%20valley%22&src=typd">abolish
            Silicon Valley</a>. See my
            <a
            href="/tech">list of critical perspectives on tech</a>.
        </p>
    </div>
    <div class="column">
        <h4><a href="/reading-group">Jacobin reading group</a></h4>
        <p>
            I help run an informal and wide-ranging
            <a href="/reading-group">weekly reading group</a> on
            contemporary left politics in London.
        </p>
    </div>
</div>
