<div class="triple-grid">
    <div class="column">
        <h4><a href="https://newsocialist.org.uk">New Socialist</a></h4>
        <p>
            I'm an editor for the <a
            href="https://newsocialist.org.uk/tag/economics">economics
            section</a> and helped build <a
            href="https://github.com/dellsystem/new-socialist">the website</a>.
        </p>
    </div>
    <div class="column">
        <h4><a href="https://notesfrombelow.org">Notes From Below</a></h4>
        <p>
            I built <a
            href="https://github.com/dellsystem/notes-from-below">the
            website</a>
            and co-curated the issue on <a
            href="https://notesfrombelow.org/issue/technology-and-the-worker">tech and class
            composition</a>.
        </p>
    </div>
    <div class="column">
        <h4>London School of Economics</h4>
        <p>
            I'm completing an MSc on inequality and
            posting some of my notes <a href="/lse">here</a>.
        </p>
    </div>
    <div class="column">
        <h4>David Foster Wallace</h4>
        <p>
            I'm just a massive fan: I maintain <a href="/dfw">a list of his
            work</a> and built the website for <a
            href="http://wallaceconference.com">the annual conference</a>.
        </p>
    </div>
    <div class="column">
        <h4>The Labour Party</h4>
        <p>
            I'm on the Wandsworth and London Young Labour committees. I'm also vice
            chair memberships for Battersea.
        </p>
    </div>
    <div class="column">
        <h4>Criticising the tech industry</h4>
        <p>
            I'm a <a
            href="https://notesfrombelow.org/article/silicon-inquiry">recovering
            startup founder</a> who is now quite critical
            of the industry. I maintain a list of resources <a
            href="/tech">here</a>.
        </p>
    </div>
</div>
