<h2 id="recent">Recent writing (late 2017—present)</h2>

<dl class="vertical">
<dt>
	<a href="https://newsocialist.org.uk/tackling-the-platforms/">
		Tackling the platforms: on IPPR's Digital Commonwealth report
	</a>
</dt>
<dd>
	for
	<a href="https://newsocialist.org.uk">New Socialist</a> (September 14, 2018)
	&mdash; originally published by <a href="http://autonomy.work/portfolio/digitalcommonwealth/">Autonomy</a>
</dd>
<dt>
	<a href="https://logicmag.io/05-freedom-isnt-free/">
		Freedom Isn't Free
	</a> (on the philosophical failures of the open source movement)
</dt>
<dd>for issue 5 of <a href="https://logicmag.io/05-freedom-isnt-free/">Logic Magazine</a>
	(August 15, 2018)    
</dd>
<dt>
    <a href="http://www.notesfrombelow.org/article/organising-silicon-valleys-shadow-workforce">
        Organising Silicon Valley's Shadow Workforce
    </a> (on contract workers at big tech companies)
</dt>
<dd>for <a href="https://www.notesfrombelow.org/">Notes From Below</a>
    (July 31, 2018)
</dd>
<dt>
	<a href="https://newsocialist.org.uk/towards-an-organized-tech-industry-part-two">
		Towards an Organized Tech Industry—Part Two
	</a> (panel discussion at Left Forum 2018)
</dt>
<dd>
	for
	<a href="https://newsocialist.org.uk">New Socialist</a> (July 29, 2018)
</dd>
<dt>
	<a href="http://www.notesfrombelow.org/article/towards-an-organized-tech-industry-part-one">
		Towards an Organized Tech Industry—Part One
	</a> (panel discussion at Left Forum 2018)
</dt>
<dd>
	for
	<a href="https://notesfrombelow.org">Notes From Below</a> (July 15, 2018)
</dd>
<dt>
    <a href="https://newint.org/features/2018/07/01/the-next-financial-crisis">
        The next financial crisis - Silicon Valley hubris
    </a>
	(a short part of a multi-contributor piece)
</dt>
<dd>for <a href="http://newint.org">New Internationalist</a>
    (July 1, 2018)
</dd>
<dt>
    <a href="http://novaramedia.com/2018/06/27/now-is-the-time-for-worker-power-in-the-tech-industry/">
        Now is the Time for Worker Power in the Tech Industry
    </a>
</dt>
<dd>for <a href="http://novaramedia.com">Novara Media</a>
    (June 27, 2018)
</dd>
<dt>
    <a href="http://www.notesfrombelow.org/article/building-worker-power-at-microsoft">
        The case for building worker power at Microsoft
    </a> (on Microsoft's links to ICE)
</dt>
<dd>for <a href="https://www.notesfrombelow.org/">Notes From Below</a>
    (June 19, 2018)
</dd>
<dt>
    <a href="http://blogs.lse.ac.uk/lsereviewofbooks/2018/05/23/book-review-how-to-be-a-geek-essays-on-the-culture-of-software-by-matthew-fuller/">
        Book Review: How to be a Geek: Essays on the Culture of Software by Matthew Fuller
    </a>
</dt>
<dd>for <a href="http://blogs.lse.ac.uk/lsereviewofbooks/">LSE Review of Books</a>
    (May 23, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/technological-development-for-the-many/">
        Technological Development For The Many
    </a> (originally delivered as a talk)
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (May 19, 2018)
</dd>
<dt>
    <a href="http://www.notesfrombelow.org/article/technology-and-the-worker">
        Technology and The Worker
    </a> (the editorial for the second issue)
</dt>
<dd>for <a href="http://www.notesfrombelow.org">Notes From Below</a>
    (March 30, 2018; co-written with Marijam Didžgalvytė)
</dd>
<dt>
    <a href="http://notesfrombelow.org/article/tech-culture-unions-meritocracy">
        Tech culture, unions and the blind spot of meritocracy
    </a> (a conversation with Xavier Denis)
</dt>
<dd>
    for
    <a href="https://notesfrombelow.org">Notes From Below</a>
    (March 30, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/corbynism-and-the-youth-wing/">
        Corbynism and The Youth Wing
    </a> (a conversation with Lara McNeill and Daniel Frost)
</dt>
<dd>
    for
    <a href="https://newsocialist.org.uk/">New Socialist</a>
    (March 28, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/labours-new-economics-conference-part-three-housing-session/">
        Labour's New Economics Conference: Part Three, Housing Session
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (February 24, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/labours-new-economics-conference-part-two-digital-session/">
        Labour's New Economics Conference: Part Two, Digital Session
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (February 21, 2018)
</dd>
<dt>
    <a href="http://www.notesfrombelow.org/article/silicon-inquiry">
        Silicon Inquiry
    </a> (a personal inquiry into the tech industry)
</dt>
<dd>for <a href="http://www.notesfrombelow.org">Notes From Below</a>
    (January 29, 2018)
    &mdash;
    republished by <a href="https://www.opendemocracy.net/digitaliberties/wendy-liu/silicon-inquiry">openDemocracy</a>
</dd>
<dt>
	<a href="/posts/a-year-of-200-books">
		A year of 200 books
	</a> (on my Goodreads reading challenge for 2017)
</dt>
<dd>
	for my blog (January 3, 2018)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/labours-digital-strategy">
        Labour's Digital Strategy is a Missed Opportunity
    </a> (on the many failures of Liam Byrne, MP)
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (December 17, 2017)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/social-murder-productivity-crisis/">
        Social Murder, Productivity Crisis & Irresponsible Technology Policy:
        The 2017 Budget
    </a>
</dt>
<dd>for <a href="https://newsocialist.org.uk">New Socialist</a>
    (November 25, 2017; co-written with Tom Gann and Kyle Geraghty)
</dd>
<dt>
    <a href="https://newsocialist.org.uk/the-gig-economy/">
        The Inevitability of the Gig Economy
    </a>
</dt>
<dd>
for <a href="https://newsocialist.org.uk">New Socialist</a>
    (November 19, 2017)
</dd>
</dl>
