<ul>
	<li><strong><a href="http://www.historicalmaterialism.org/">Historical Materialism</a> at SOAS (Nov 10, 2018)</strong>: I'll talk about worker power in tech for Notes From Below's stream.</li>
	<li><strong><a href="https://www.facebook.com/events/2201163460207570/">WorkerTech: Worker voice and empowerment</a> in Bristol (Nov 20, 2018)</strong>: on technology & unionising.</li>
	<li><strong><a href="https://www.facebook.com/events/190839688504116/">Tribune reading group</a> in London (Nov 22, 2018)</strong>: on the first issue of Tribune. Hosted by <a href="https://twitter.com/wandsworthyl">Wandsworth Young Labour</a>.</li>
</ul>
