<ul>
	<li><strong><a href="https://theworldtransformed.org">The World Transformed</a> in Liverpool (Sep 22-25, 2018)</strong>: I'll be chairing panels on tech & the media.</li>
	<li><strong><a href="https://www.battleofideas.org.uk/session/from-robots-to-ubi-is-capitalism-digging-its-own-grave/">Battle of Ideas</a> at the Barbican (Oct 13, 2018)</strong>: I'll be speaking about post-capitalism. This festival sounds kinda sketchy (i.e. right-wing) but maybe I'll convert someone, who knows.</li>
	<li><strong><a href="https://www.conf.owlteh.org">Open Web Conference</a> in Coventry (Oct 26, 2018)</strong>: kinda random but I'll be giving a keynote on the political economy of tech? I think?</li>
	<li><strong><a href="http://www.historicalmaterialism.org/">Historical Materialism</a> at SOAS (Nov 8-11, 2018)</strong>: I'll be talking about worker power in the tech industry as part of the Notes From Below stream.</li>
</ul>
