<ul>
	<li><strong>A London Young Labour <a href="https://www.facebook.com/events/253076005400084/">event on sexism, masculinity &amp; the left</a> (Oct 3, 2018)</strong></li>
	<li><strong><a href="https://www.battleofideas.org.uk/session/from-robots-to-ubi-is-capitalism-digging-its-own-grave/">Battle of Ideas</a> at the Barbican (Oct 13, 2018)</strong>: I'll be speaking on a panel about post-capitalism.</li>
	<li><strong><a href="https://www.decodeproject.eu/events/beyond-surveillance-capitalism-reclaiming-digital-sovereignty">DECODE symposium</a> in Barcelona (Oct 16-17, 2018)</strong>: I'll be speaking on a panel about tech giants and monopoly power.</li>
	<li><strong><a href="https://www.conf.owlteh.org">Open Web Conference</a> in Coventry (Oct 26, 2018)</strong>: I'll be giving a keynote on the political economy of the internet.</li>
	<li><strong><a href="http://www.historicalmaterialism.org/">Historical Materialism</a> at SOAS (Nov 8-11, 2018)</strong>: I'll talk about worker power in tech for Notes From Below's stream.</li>
</ul>
