<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>dellsystem.me :: {{ page.title }}</title>
	<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	{% if page.math %}<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>{% endif %}
	{% if page.jquery %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>{% endif %}
	{% if page.code %}<link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />{% endif %}
</head>

<body>
	<div id="wrap">
		<div id="header">
			<a href="http://www.dellsystem.me" id="title">dellsystem</a>
			<ul id="menu">
				<li><a href="index">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="projects">Projects</a></li>
				<li><a href="archives">Archives</a></li>
			</ul>
			<a href="https://www.github.com/dellsystem"><img src="/images/forkme.png" title="teehee" alt="Fork me on Github" id="ribbon" /></a>
		</div>
		<div id="main">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div><!-- ends the main -->
	</div><!-- ends the wrap -->
	<div id="footer">
		<br />website source available at <a href="https://www.github.com/dellsystem/dellsystem.github.com">github</a>. happily hosted by github
	</div>
</body>
</html>
