<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>dellsystem.me :: {{ page.title }}</title>
	<link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
		<div class="wrap">
			<a href="http://www.dellsystem.me" title="dellsystem.me"><img src="/images/logo.png" alt="dellsystem.me" /></a>
			<ul id="menu">
				<li><a href="/index">Projects</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/writing">Writing</a></li>
			</ul>
		</div>
		<a href="https://www.github.com/dellsystem"><img src="/images/forkme.png" title="teehee" alt="Fork me on Github" id="ribbon" /></a>
	</div>
	<div id="body">
		<div class="wrap">
			{{ content }}
		</div><!-- ends the wrap -->
	</div><!-- ends the body -->
	<div id="footer">
		<div class="wrap">
			website source available at <a href="https://www.github.com/dellsystem/dellsystem.github.com">github</a>. happily hosted by github
		</div>
	</div>
</body>
</html>
