---
layout: default
---

<a href="/{{ page.course }}">&laquo; Back to {{ page.course }}</a>

{% include lecture_intro.html date=page.date course=page.course %}

<div class="double-grid">
    <div class="column">
        {% if page.week > 1 %}
        <a href="/posts/{{ page.course }}-{{ page.week|minus:1 }}">
            &laquo; Previous week
        </a>
        {% endif %}
    </div>
    <div class="column" style="float: right">
        {% unless page.last_week %}
        <a href="/posts/{{ page.course }}-{{ page.week|plus:1 }}">
            Next week &raquo;
        </a>
        {% endunless %}
   </div>
</div>

<hr />

{% if page.skip %}

<h2>Reading week</h2>

<p>No lecture this week.</p>

{% else %}

<h2>{{ page.topic }}</h2>

{{ content }}

{% endif %}

<hr />

<div class="double-grid">
    <div class="column">
        {% if page.week > 1 %}
        <a href="/posts/{{ page.course }}-{{ page.week|minus:1 }}">
            &laquo; Previous week
        </a>
        {% endif %}
    </div>
    <div class="column" style="float: right">
        {% unless page.last_week %}
        <a href="/posts/{{ page.course }}-{{ page.week|plus:1 }}">
            Next week &raquo;
        </a>
        {% endunless %}
   </div>
</div>
