---
layout: default
---
<div class="post">
    <p>
        <a href="/writing">&laquo; Back to writing</a>
        ::
        <em>{{ page.date | date: "%B %-d, %Y" }}</em>
        ::
        Categories:
        {% for category in page.categories %}<strong><a href="/writing#{{ category|replace:' ','-' }}">{{ category }}</a></strong>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
    </p>
    <img src="/img{% if page.image %}/posts/{{ page.image }}{% else %}{{ page.url }}{% endif %}.png" alt="{{ page.title }}" class="leftfloat" />

{{ content }}

</div>
<h2>Related posts</h2>

<ul>
{% for post in site.related_posts limit:5 %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        ({{ post.date | date: "%B %-d, %Y"}})
    </li>
 	{% endfor %}
</ul>
