---
layout: default
---

<div id="post-categories">
    Categories:
    <a href="#" class="clicked" id="category-all">all</a> ({{ site.posts.size }}),
    {% for category in site.categories %}<a href="#" id="category-{{ category[0] }}">{{ category[0] }}</a> ({{ category[1].size }}){% if forloop.last %}{% else %}, {% endif %}{% endfor %}
</div>

<br />
<hr />

{% for post in site.posts %}
{% include excerpt.html %}
{% endfor %}

<script type="text/javascript">
var containsCategory = function(postExcerpt, desiredCategory) {
    var categories = postExcerpt.querySelectorAll('.post-category');
    for (var i = 0; i < categories.length; i++) {
        if (categories[i].innerText == desiredCategory) {
            return true;
        }
    };

    return false;
};

var showCategory = function(desiredCategory) {
    if (desiredCategory == 'all') {
        $('.post-excerpt').show();
    } else {
        $('.post-excerpt').each(function(index, postExcerpt) {
            if (containsCategory(postExcerpt, desiredCategory)) {
                $(postExcerpt).show();
            } else {
                $(postExcerpt).hide();
            }
        });
    }
};

// For simulating category-pages
$('#post-categories a').click(function() {
	var desiredCategory = $(this).text();
    showCategory(desiredCategory);
    $('#post-categories .clicked').removeClass('clicked');
    $(this).addClass('clicked');
    return false;
});

// Handle hash parameters
if (window.location.hash) {
    var desiredCategory = window.location.hash.substring(1);
    showCategory(desiredCategory);
    $('#post-categories .clicked').removeClass('clicked');
    $('#category-' + desiredCategory).addClass('clicked');
}
</script>
